<template src="webmpr-viewer/src/components/core/RawFileReader/template.html" />
<style module src="webmpr-viewer/src/components/core/RawFileReader/style.css" />
<script src="webmpr-viewer/src/components/core/RawFileReader/script.js" />
