<template src="webmpr-viewer/src/components/core/GlobalSettings/template.html" />
<style module src="webmpr-viewer/src/components/core/GlobalSettings/style.css" />
<script src="webmpr-viewer/src/components/core/GlobalSettings/script.js" />
