.container { /* 투명*/
  padding: 0;
}

.container * {
  user-select: none;
}

.card { /* 투명*/
  padding: 8px 16px;
}

.heading {
  padding: 8px 0;
}

.divider {
  margin-bottom: 16px;
}

.noTopPadding {
  padding-top: 0;
}

.lineTopPadding {
  padding-top: 5px;
}

.noSelect {
  user-select: none;
}
