<template src="webmpr-viewer/src/components/core/ToolbarSheet/template.html" />
<style module src="webmpr-viewer/src/components/core/ToolbarSheet/style.css" />
<script src="webmpr-viewer/src/components/core/ToolbarSheet/script.js" />
