<template src="webmpr-viewer/src/components/core/App/template.html" />
<style module src="webmpr-viewer/src/components/core/App/style.css" />
<script src="webmpr-viewer/src/components/core/App/script.js" />
