.root :global(.application--wrap) {
  position: absolute;
  /* Fill to parent height, which will be the height of <html> */
  height: 100%;
  width: 100%;
  /* override vuetify's min-height: 100vh.
   * 100vh also includes navbar height, which we don't
   * want b/c we want to contrain our app between the address bar
   * and the bottom navbar.
   */
  min-height: 0;
}

.appContent {
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

/* vuetify overrides */
.toolbarButton {
  min-width: 32px;
  margin: 0;
  height: inherit;
}

.toolbarButton span {
  margin-left: 4px;
}

.overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms, visibility 0 100ms;
}

.overlayVisible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.overlayText {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  width: 80%;
  margin: auto;
}

.noTransition {
  transition: none;
}

.aboutIcon {
  width: 100%;
  max-height: 80px;
}
