<template src="webmpr-viewer/src/components/widgets/ColorGroup/template.html" />
<style module src="webmpr-viewer/src/components/widgets/ColorGroup/style.css" />
<script src="webmpr-viewer/src/components/widgets/ColorGroup/script.js" />
