<template src="webmpr-viewer/src/components/core/LayoutView/template.html" />
<style module src="webmpr-viewer/src/components/core/LayoutView/style.css" />
<script src="webmpr-viewer/src/components/core/LayoutView/script.js" />
