<template src="webmpr-viewer/src/components/widgets/PiecewiseFunctionEditor/template.html" />
<style module src="webmpr-viewer/src/components/widgets/PiecewiseFunctionEditor/style.css" />
<script src="webmpr-viewer/src/components/widgets/PiecewiseFunctionEditor/script.js" />
