<template src="webmpr-viewer/src/components/widgets/PalettePicker/template.html" />
<style module src="webmpr-viewer/src/components/widgets/PalettePicker/style.css" />
<script src="webmpr-viewer/src/components/widgets/PalettePicker/script.js" />
