<template src="webmpr-viewer/src/components/core/StateFileGenerator/template.html" />
<style module src="webmpr-viewer/src/components/core/StateFileGenerator/style.css" />
<script src="webmpr-viewer/src/components/core/StateFileGenerator/script.js" />
