<template src="webmpr-viewer/src/components/core/Datasets/template.html" />
<style module src="webmpr-viewer/src/components/core/Datasets/style.css" />
<script src="webmpr-viewer/src/components/core/Datasets/script.js" />
