<template src="webmpr-viewer/src/components/widgets/TreeView/Node/template.html" />
<style module src="webmpr-viewer/src/components/widgets/TreeView/style.css" />
<script src="webmpr-viewer/src/components/widgets/TreeView/Node/script.js" />
