<template src="webmpr-viewer/src/components/core/Landing/template.html" />
<style module src="webmpr-viewer/src/components/core/Landing/style.css" />
<script src="webmpr-viewer/src/components/core/Landing/script.js" />
