<div :class="['grey lighten-3', $style.root]">
  <v-jumbotron
    color="grey
    darken-3"
    :height="smallScreen ? '360px' : '360px'">
    <v-container fill-height>
      <v-layout row align-center>
        <v-flex
          :xs6="!smallScreen"
          :xs12="smallScreen"
        >
          <v-card flat dark>
            <v-card-title class="display-1"> Drag and drop the file you want to view </v-card-title>
            <v-card-text>
              Can view ".NRRD, .ZIP, .DCM, .MPR" Files
            </v-card-text>
          </v-card>
        </v-flex>
        <!-- iPads have width 768, so show controls on them -->
        <v-flex
          v-if="!smallScreen"
          key="if-large-enough-screen"
          xs6
          fill-height
        >
          <drag-and-drop
            enabled
            :class="$style.dnd"
            v-on:drop="$emit('open-files', $event)"
          >
            <div
              slot-scope="{ dragHover }"
              :class="{ [$style.fileUpload]: true, [$style.fileUploadHover]: dragHover }"
              v-on:click.stop="$emit('open')"
            >
              <div :class="['white--text body-2', $style.fileUploadContents]">
                <v-btn
                  color="primary"
                  raised="false"
                  v-on:click.stop="$emit('open')"
                >
                  <span v-if="dragHover" :class="$style.buttonText">
                    
                  </span>
                  <span v-else :class="$style.buttonText">Open File</span>
                  <v-icon>folder_open</v-icon>
                </v-btn>
                <div :class="$style.noSelect">
                  Drag and Drop the File
                </div>
              </div>
            </div>
          </drag-and-drop>
        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron>

  <!-- 미래에, 최근 사용한 파일 목록 등을 위해 남겨둔다

  <v-container
    :class="$style.noSelect"
    grid-list-xl
  >

  <v-layout row wrap>
      <v-flex xs12>
        <span class="title">Sample Data</span>
      </v-flex>
      <v-flex
        v-for="(sample, i) in samples"
        :key="i"
        :xs4="$vuetify.breakpoint.mdAndUp"
        :xs6="$vuetify.breakpoint.sm"
        :xs12="$vuetify.breakpoint.xs"
      >
        <v-card
          :class="$style.sampleData"
          flat
          tile
        >
          <v-card-media
            :src="sample.image"
            height="300px"
          />
          <div
            :class="$style.linkOverlay"
            v-on:click.stop="openSample(sample)"
          >
            <div :class="$style.linkOverlayText" class="body-2">
              {{ sample.label }} ({{ sample.size }})
              <div :class="$style.description" v-if="sample.description">
                {{ sample.description }}
              </div>
              <div :class="$style.acknowledgement" v-if="sample.acknowledgement">
                {{ sample.acknowledgement }}
              </div>
            </div>
          </div>
        </v-card>
      </v-flex>
  
    </v-layout>

  </v-container>
-->
  <v-footer class="pa-2 d-flex" height="48px">
    <div class="mb-2 text-xs-center grey--text text--darken-2">
      <div>&copy; {{ new Date().getFullYear() }} — SNU with HealthHub</div>
      <div> WebMPR Viewer 0.0.1</div>
    </div>
  </v-footer>
</div>
