<template src="webmpr-viewer/src/components/controls/SliceControl/template.html" />
<style module src="webmpr-viewer/src/components/core/Datasets/style.css" />
<script src="webmpr-viewer/src/components/controls/SliceControl/script.js" />
