<template src="webmpr-viewer/src/components/core/Screenshots/template.html" />
<style module src="webmpr-viewer/src/components/core/Screenshots/style.css" />
<script src="webmpr-viewer/src/components/core/Screenshots/script.js" />
