<template src="webmpr-viewer/src/components/core/FileLoader/template.html" />
<style module src="webmpr-viewer/src/components/core/FileLoader/style.css" />
<script src="webmpr-viewer/src/components/core/FileLoader/script.js" />
