<template src="webmpr-viewer/src/components/core/VtkView/template.html" />
<style module src="webmpr-viewer/src/components/core/VtkView/style.css" />
<script src="webmpr-viewer/src/components/core/VtkView/script.js" />
