.container {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

.vtkView {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.viewTypeSelector {
  max-width: 140px;
  min-width: 140px;
  user-select: none;
}

.floatToolbar { /*오른쪽 상단 툴바 위치조정용 */
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}

.activeButton {
  background: rgba(255, 255, 255, 0.25);
}

.relative {
  position: relative;
}

.altButton {
  position: absolute;
  left: -40px;
  top: -40px;
}

.toolbarWrapper {
  position: relative;
}

.smallCardText {
  padding: 5px;
}

.button {
  /* override vuetify */
  margin: 2px 4px;
}

.smallToolbar {
  overflow: hidden;
}

.smallToolbar :global(.toolbar__content) {
  height: 45px !important; /* 하단 툴바 사이즈 조정용*/
}

.noSelect {
  user-select: none;
}

.activeView { /* 뷰어 좌측 상단 표시 마크 조정 */
  position: absolute;
  left: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%);
}
