<template src="webmpr-viewer/src/components/widgets/SvgIcon/template.html" />
<style module src="webmpr-viewer/src/components/widgets/SvgIcon/style.css" />
<script src="webmpr-viewer/src/components/widgets/SvgIcon/script.js" />
