<template src="webmpr-viewer/src/components/widgets/ToggleMenuButton/template.html" />
<style module src="webmpr-viewer/src/components/widgets/ToggleMenuButton/style.css" />
<script src="webmpr-viewer/src/components/widgets/ToggleMenuButton/script.js" />
