<template src="webmpr-viewer/src/components/widgets/GPUInformation/template.html" />
<style module src="webmpr-viewer/src/components/widgets/GPUInformation/style.css" />
<script src="webmpr-viewer/src/components/widgets/GPUInformation/script.js" />
