<template src="webmpr-viewer/src/components/core/AboutBox/template.html" />
<style module src="webmpr-viewer/src/components/core/AboutBox/style.css" />
<script src="webmpr-viewer/src/components/core/AboutBox/script.js" />
