<v-card>
  <v-card-title>
    <svg-icon icon="webmpr-viewer" :class="$style.glanceIcon" />
    <v-spacer />
    <v-btn
      flat
      icon
      v-on:click="$emit('close')"
    >
      <v-icon>close</v-icon>
    </v-btn>
  </v-card-title>
  <hr>
  <v-card-text>
    <p class="body-1">
      서울대학교 HealthHub A팀의 프로젝트 성과입니다.
    </p>
    <ul :class="$style.list">
      <li class="body-1">
        <span>Paraview Glance 기반</span>
        <a href="https://kitware.github.io/webmpr-viewer/doc/">documentation</a>.
      </li>
      <li class="body-1">
        <span>Current version: 0.0.1</span>
      </li>
    </ul>
    </v-layout>
    <div class="pt-3 d-block text-xs-center grey--text text--darken-2">
      &copy; {{ new Date().getFullYear() }} — 서울대학교 헬스허브 A팀, Inc.
    </div>
  </v-card-text>
</v-card>
