<template src="webmpr-viewer/src/components/core/ControlsDrawer/template.html" />
<style module src="webmpr-viewer/src/components/core/ControlsDrawer/style.css" />
<script src="webmpr-viewer/src/components/core/ControlsDrawer/script.js" />
