<v-tabs
  :class="$style.tabs"
  v-model="activeTab"
>

  <v-tab >Datasets</v-tab>
  <v-tab>Global</v-tab>
  <v-tabs-items touchless >
    <v-tab-item>
      <datasets />
    </v-tab-item >
    <v-tab-item>
      <global-settings />
    </v-tab-item>
  </v-tabs-items>
</v-tabs>
