<template src="webmpr-viewer/src/components/core/Screenshots/ScreenshotDialog/template.html" />
<style module src="webmpr-viewer/src/components/core/Screenshots/ScreenshotDialog/style.css" />
<script src="webmpr-viewer/src/components/core/Screenshots/ScreenshotDialog/script.js" />
